@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    background-color: #2c3e50;
    margin: 0;
    color: whitesmoke;
}


h3 {
	text-align: center;
	text-transform: uppercase ;
	letter-spacing: 2px;
	margin-top: 40px;
}

#box {
	margin-top: 30px;
	display: flex;
	justify-content: center;
	margin: auto;
	flex-wrap: wrap;
	max-width: 1200px;
	
}

img {
	border-radius: 8px;
	width: 100%;
	height: auto;

}

.photo {
	margin-top: 40px;
}

.texte {
	margin-left: 30px;
	margin-top: 30px;
}

.retour {
	text-align: center;
	color: red;
}

.fleche {
	text-align: center;
}
.fleche img {
	width: 73px;
	height: 51px;
}