
body {
    font-family: avenir,arial, helvetica, sans-serif;
margin: 0;
padding: 0;
background-color:#FECC66;
color:black;
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: white;
}
::-webkit-scrollbar-thumb {
    
    background: hotpink;
}

header {

	background-color:#d23d87;
	color: antiquewhite;
}

h2 {

	
	text-align: center;
	margin-top: 30px;
	margin-bottom: 0px;
}
h3{
	margin-top: 0px;
	text-align: center;
	
	
}

p {
	
	font-size: 16px;
	text-align: justify;
	margin-left: 50px;
	margin-right: 50px;

}




img {
	margin-top: 40px;
	margin-left: 50px;
	float: left;
	margin-right: 20px;
	max-width: 100%;
	border-radius: 7px;
	
	
}

footer {
	height: 40px;
	text-align: center;
	position: fixed;
	width: 100%;
	bottom: 0;
	background-color:#016195;
	display: flex;
	align-items: center;
	justify-content: center;

	}

footer a {
	color: lightpink;
}



@media screen and (max-width: 700px) {

 
    
header {
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 5px;

}

img{
	width: 20%;
	margin-left: 15px;
}

p {
    font-size: 10px;
    margin-left: 20px;
	margin-right: 20px;
	
}

footer {
    font-size: 9px;
    
}
}
