.titre  {
color:blue;
font-size: 1.3em;

  background-color: #98da8d;
}
img {

width: 30%;
height:auto;
}


@media all and (min-width: 1400px)
{
          
.titre{
color:red;
font-size: 2em;
}
 
p {
font-size: 1.6em;

}
img {
width: 25%;
height:auto;
}

a {
font-size:1.1em;

}




}
