p {
color:blue;
font-size: 1.3em;

  background-color: #98da8d;
}


@media all and (min-width: 1400px)
{
          
  p {
color:red;
font-size: 2em;
}
 



img {
margin-top: 10px;
width: 40%;
}

a {
font-size:1.1em;

}




}
