body {

background: url(golconde.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
	
}






}

IMG.imagedefond

 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
     }