p {
	font-size:1.3em;
	color:blue;
	background-color: #98da8d;
}
img {
width:42%;
height:auto;
}



@media all and (min-width: 1400px)
{
          
   


p {
	font-size:2em;
	color:red;
}

a {
font-size:1.1em;
}



}
