/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

body {
    margin: 0;
    padding: 0;
}





#burger {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #474787;
    position: absolute;
    left: 30px;
    vertical-align: center;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 5;
}
#burger span {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px 0;
    background-color: #f3f3f3;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

#burger:hover {
     background-color: darkorange;
}

body.active #burger div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 30px;
}
body.active #burger span {
    width: 4px;
    height: 30px;
}

 #cache {
    position: absolute;
    top: -400vh;
    width: 100%;
    height: 100vh;
    background-color:white;
    -webkit-transition: 0,5s;
    -o-transition: 0,5s;
    transition: 0,5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 3;
    transition: 6s;

}


body.active #cache {
    top: 0;
    transition: 1s;
   
 }

 body.active footer {
    display: none;
 }


figure figcaption{
text-align: center;
    background-color: yellowgreen;
    color: white;
    font-size: 14px;
    
}

figure {
    margin-top: 10px;
    padding: 0;
   
}




 @media screen and (max-width: 700px) {

 #burger {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #474787;
    position: absolute;
    left: 10px;
    

}
#burger span {
    
    width: 25px;
    height: 3px;
    
}
}
 
