/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/


*, ::before, ::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: avenir,arial, helvetica, sans-serif;


    height: 100vh;
    
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: white;
}
::-webkit-scrollbar-thumb {
    
    background: teal;
}

img {
    border-radius: 5px;
}
header {
    height: 7vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.4em;
    background-color: darkgreen;
    color: white;

}

#container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 86vh;

}

nav {
    background-color: #808004;
    width: 15%;
}


button a {
    text-decoration: none;
    color: white;
}



.liste-sidenav {
    list-style-type: none;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 86vh;


}
.liste-sidenav li {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

}

.liste-sidenav  li a {
    font-size: 0.8em; 
    color: white;
   
 text-align: center;
 text-decoration: none;

  border-top: 1px solid rgba(255,255,255,.3);
    border-bottom: 1px solid rgba(255,255,255,.3);

}
nav li {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

nav li a:hover {

    background-color: #1C955A;
    
   
}

nav .liste-sidenav li a{
    position: relative;
}

.liste-sidenav  li a span{
    display: none;
}


nav .liste-sidenav  li a:hover .titre1{

    display: block;
    position: absolute;
  
    top: 60px;

    width: 100px;
    left: 20px;
  
    background-color: yellowgreen;
    color: white;
    font-weight: 500;
  
padding: 7px;

    border-radius: 5px;
    font-size: 10px;

}


nav .liste-sidenav  li a:hover .titre2{

    display: block;
    position: absolute;
  
    top: 60px;

    width: 110px;
  
    background-color: yellowgreen;
    color: white;
    font-weight: 500;
  
padding: 7px;

    border-radius: 5px;
    font-size: 10px;

}


nav .liste-sidenav  li a:hover .titre3{

    display: block;
    position: absolute;
  
    top: 60px;

    width: 110px;
  
    background-color: yellowgreen;
    color: white;
    font-weight: 500;
  
padding: 7px;

    border-radius: 5px;
    font-size: 10px;

}


nav .liste-sidenav  li a:hover .titre4{

    display: block;
    position: absolute;
  
    top: 60px;

    width: 100px;
  
    background-color: yellowgreen;
    color: white;
    font-weight: 500;
  
padding: 7px;

    border-radius: 5px;
    z-index: 10;
    font-size: 10px;

}


nav .liste-sidenav  li a:hover .titre5{

    display: block;
    position: absolute;
  
    top: 45px;

    width: 125px;
  
    background-color: yellowgreen;
    color: white;
    font-weight: 500;
  
padding: 7px;
 width: 100px;
    left: 10px;
    border-radius: 5px;
    z-index: 10;
    font-size: 10px;

}


nav .liste-sidenav  li a:hover .titre6{

    display: block;
    position: absolute;
  
    top: 45px;

    width: 90px;
  
    background-color: yellowgreen;
    color: white;
    font-weight: 500;
  
padding: 7px;

    border-radius: 5px;
    z-index: 10;
    font-size: 10px;

}


nav .liste-sidenav  li a:hover .titre7{

    display: block;
    position: absolute;
  
    top: 60px;

    width: 130px;

    left: 10px;
  
    background-color: yellowgreen;
    color: white;
    font-weight: 500;
  
padding: 7px;

    border-radius: 5px;
    z-index: 10;
    font-size: 10px;


}

nav .liste-sidenav  li a:hover .titre8{

   display: block;
    position: absolute;
  
    top: 75px;

    width: 140px;
    
  
    background-color: yellowgreen;
    color: white;
    font-weight: 500;
  
padding: 7px;

    border-radius: 5px;
    z-index: 10;
font-size: 10px;
left: 10px;

}


article {
    background-color: palegoldenrod;
    width: 70%;
  
    padding-left: 50px;
    padding-right: 50px;
    height: 86vh;
    overflow: auto;
   
}
.titre {
    
    padding-top: 30px;
    padding-left: 15px;
    font-size: 1.1em;
    color: black;
    font-weight: bold;

    
}
.photo {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    -o-object-fit: cover;
       object-fit: cover;
    
    position: absolute;
    right: 60px;
    top: 10px;
   
    -webkit-transition: 1s;
   
    -o-transition: 1s;
   
    transition: 1s;


}


.presentation {

    text-align: justify;
    
    color: black;
    
    font-size: 0.9em;

padding-top: 0px;
}

.presentation:first-letter {

    font-family:Georgia; 
    font-size:40px; display:block; 
    float:left; padding:0 10px 10px 10px; 
    background-color:#a1b95d; 
    color:#fff; 
    margin:5px 5px 0 0;
    text-shadow:1px 1px 0px #333; 
    line-height:1;


}




.espace{
    opacity: 0;
    color: palegoldenrod;
    

}

.footer1{
     height: 4vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color:#808027;
    color: white;
    position: absolute;
    bottom: 7vh;
    width: 100%;
    font-size: 0.9em;
}
.footer1 a {

    color: white;
    text-decoration: none;
    
}

.footer1 a:hover {

    display: block;
    background-color: #1C955A;
}
.footer2 {
   
    height: 7vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color:#935116;
    color: white;
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-size: 0.9em;
}
.footer2 a {
    color:yellow;
    text-decoration: none;
    letter-spacing: 1px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.footer2 a:hover {
    color:orangered;
    
    
    font-size: 1.2em;

}

.logofacebook {
    border-radius: 50%;
}
.logofacebook:hover{
    -webkit-transition: 0.7s;
   
   -o-transition: 0.7s;
   
   transition: 0.7s;
   -webkit-transform: rotate(45deg);
       -ms-transform: rotate(45deg);
           transform: rotate(45deg);
           width: 130%;
}

 .compteur {
    opacity: 0.1;
 }

@media screen and (max-width: 700px) {

 



    
header {
    font-size: 12px;
}
.photo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    -o-object-fit: cover;
       object-fit: cover;
    
    position: absolute;
    right: 5px;
    top: 60px;

}

.titre {
    font-size: 10px;
}
.presentation {
    font-size: 10px;
    
}
.liste-sidenav  li  {
    font-size: 9px;
    
}
.liste-sidenav  li a {
    font-size: 8px;
    padding-left: 5px;
    padding-right: 5px;
    
}
footer {
    font-size: 9px;
    
}
article {
    
  
    padding-left: 10px;
    padding-right: 10px;
    
    
   
}
.titre {
    
    padding-top: 5px;
    padding-left: 10px;
    font-size: 12px;
    color: black;
    
    
    
}


}
@media screen and (min-width: 1600px) {


    .presentation {
        font-size: 20px;
  
}
  .photo {
    
    
   
    right: 110px;
    top: 10px;
   


}

}



  }
