

img {
margin-top: 50px;
width:45%;

}
p {
color:blue;
font-size: 1.3em;

  background-color: #98da8d;
}

@media all and (min-width: 1400px)
{
          
   


p {
	font-size:2em;
	color:red;
}

a {
font-size:1.1em;

}




}
