body {
	 display: flex;
   
   font-family: Georgia, 'Times New Roman', Times, serif;
  height:100vh;
  background-color:black;

    flex-direction: column;
    align-items: center;
    
    margin: 0;
    padding: 0;
    height: 100vh;

}

header ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
   
    align-items: center;

}



header ul li {
  padding: 30px;
  list-style: none;
  color: yellow;
}

.box{
  width: 60%;
}



img {
  width: 100%;
 
}

.question {
  color: whitesmoke;
}

  .retour a {
    text-decoration: none;
    color: aqua;
    font-size: 16px;
    text-transform: uppercase;
}


@media screen and (max-width: 700px) {

.titre {
  font-size: 8px;
 margin-top: 30px;

}
img {
  margin-top: 30px;
}


.retour  {
     padding-top: 30px;
}

  
}