

@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');

body {
    margin: 0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #007;
    height: 100vh;
}


#site {
	width: 70%;
	margin: auto;
    margin-top: 10px;
    
}

img {
    width: 100%;
    border-radius: 6px;

}

p {
    font-style: italic;
    color: red;
    text-align: center;
}

.liens {
    display: flex;
    justify-content: center;
    justify-content:space-around ;
    width: 100%;
    margin-top: 5px;
   

   
    
}
a {
    color: white;
}