
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body {
	
	margin:0;
	background-color: black;
	 font-family: 'Roboto', sans-serif; 
}


#box {



	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	

}

h2{
	margin-top: 60px;
	margin-bottom: 60px;
	color:orangered; 
	letter-spacing: 1px;

	}

.image img {
	margin-bottom: 60px;
}


.texte {
	margin-left: 20px;
}

p {
	color: whitesmoke;
}



.retour {
	padding-top: 30px;
}
.retour a {

	color: aqua;
	font-style: italic;
}