body {
	margin: 0;
	padding: 0;
	height: 100vh;
}

.titre{
	text-align: center;
	font-style: italic;
	font-size: 2vw;
}
#box {
	width: 80%;
	margin: auto;

}

#box p {
	font-size: 1.4vw;
}
img {
	width: 100%;
}

span {
	font-weight: bold;
}

.lienreponse {
	text-align: center;
	
	text-transform: uppercase;
	letter-spacing: 1px;

}
.lienreponse a {
	text-decoration: none;
	color: red;
}