body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}


table tr:hover {
    background-color: #fff7fc;
}

@media screen and (min-width: 800px)
{
    body
    {
    background: -webkit-linear-gradient(left,aqua, red); 
    background: -o-linear-gradient(right,aqua, red);
    background: -moz-linear-gradient(right,aqua, red); 
    background: linear-gradient(to right,aqua,red);
	}

}
    .principal{
        box-shadow: 0 5px 5px #ccc;
        border-collapse: collapse;
    }
    .principal td {
        padding: 8px;
    }

    .titre {
        color: black;
        font-size: 16px;
    }

@media screen and (max-width: 800px)
{
    body
    {
        color: black;
        background-color:#F7FDD7  ;
        font-size: 10px;
    }
    .titre {
        color: red;
        font-size: 12px;
    }
}

@media all and (max-width: 800px)
{	

	 table
	{
	
		width:70%;
		height: 50%;
	}

}
@media screen and (max-width: 800px)
{
    p
    {
        color: red;
        
    }
}