#horloge {
    
    margin-top: 60px;
    right: 30px;
    justify-content: center;
   
    font-family: "Trebuchet MS", Arial, sans-serif;
    color: #FFF;
    
    padding: 10px;
    font-size: 1em;
    background-color: orangered;
    box-shadow: 1px 1px 2px #000;
   
    /* animation: tictac 2s infinite ease-in-out; */
    animation-name: tictac;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  
    position: absolute;
  
   
    border-radius: 10px;

}


/* Le pourcentage indique le temps : 2s = 100% */

@keyframes tictac {
    0%,
    100% {
        /* background-color: #333; */
        transform: rotate(-5deg);
        margin-right: 13px;
    }
    50% {
        transform: rotate(5deg);
        margin-right: 20px;
        /* background-color: #833; */
    }
    /* 100% {
        background-color: #333;
        transform: rotate(-5deg);
        margin-right: 13px;
    } */
}