body {
	 display: flex;
   
   font-family: Georgia, 'Times New Roman', Times, serif;
  height:100vh;
  background-image: url('../images/nuages.jpg');
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
    flex-direction: column;
    align-items: center;
    
    margin: 0;
    padding: 0;
    height: 100vh;

}

.box{
  margin-top: 30px;
  width: 50%;
}

h2{
    color:whitesmoke;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 3px 3px 3px #ab4040;
    text-align: center;
    
    }
p {
    color:whitesmoke;
    
    letter-spacing: 1px;
    
    text-align: justify;
    
    }
span {
  color: navy;
  font-weight: bold;
}
    .titre2{
    color:whitesmoke;
    margin: 0px;
    padding-bottom: 10px;
    
   
    text-align: center;
    
    }


  .retour a {
    text-decoration: none;
    color: aqua;
    font-size: 16px;
    text-transform: uppercase;
}


@media screen and (max-width: 700px) {

  h2 {
    font-size: 9px;
  }

p{
  font-size: 9px;
 margin-top: 30px;

}


img {
  margin-top: 30px;
}


.retour  {
     padding-top: 30px;
}

  
}