body {
	margin: 0;
	padding: 0;
    background-color: teal;

    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    
}



#box {
    margin-top: 10px;
    display: flex;
    
    justify-content: space-evenly;
   flex-wrap: wrap;

   
}

h1 {
    text-align: center;
    color: whitesmoke;
    letter-spacing: 0.3em;
}


img {

border-radius:50%;
width: 150px;
height: 150px;
object-fit: cover;
border: 1px solid skyblue;
margin-top: 10px;
transition: 0.2s;

}

figure {
    text-align: center;
    color:aqua;
    
}

figure:hover {
    cursor: pointer;
}

/* ———ROND1———————————————————————————*/

.reeves{

display: none;
}


figure:hover .reeves{
    
    display: inline-block;
    


}


figure:nth-child(1):hover .legende {

display: none;

}




/* ———————ROND2———————————————————————*/

.klein {

display: none;
}


figure:hover .klein {
    
    display: inline-block;


}


figure:nth-child(2):hover .legende {

display: none;
}


/* ———————ROND3———————————————————————*/

.brahic{

display: none;
}


figure:hover .brahic{
    
    display: inline-block;


}


figure:nth-child(3):hover .legende {

display: none;
}

/* ————ROND4——————————————————————————*/


.perruque{

display: none;
}


figure:hover .perruque{
    
    display: inline-block;


}


figure:nth-child(4):hover .legende {

display: none;
}



/* ————ROND5——————————————————————————*/


.lesgy5{

display: none;
}


figure:hover .lesgy5{
    
    display: inline-block;


}


figure:nth-child(5):hover .legende {

display: none;
}

/* ————ROND6——————————————————————————*/

.gourmaud{

display: none;
}


figure:hover .gourmaud{
    
    display: inline-block;


}


figure:nth-child(6):hover .legende {

display: none;
}


/* ————ROND7——————————————————————————*/
.thuan{

display: none;
}


figure:hover .thuan{
    
    display: inline-block;


}


figure:nth-child(7):hover .legende {

display: none;
}


/* ————ROND8——————————————————————————*/
.tyson{

display: none;
}


figure:hover .tyson{
    
    display: inline-block;


}


figure:nth-child(8):hover .legende {

display: none;
}




/* ————ROND9——————————————————————————*/
.rovelli{

display: none;
}


figure:hover .rovelli{
    
    display: inline-block;


}


figure:nth-child(9):hover .legende {

display: none;
}


/* ————ROND10——————————————————————————*/
.vauclair{

display: none;
}


figure:hover .vauclair{
    
    display: inline-block;


}


figure:nth-child(10):hover .legende {

display: none;
}




/* ————ROND11——————————————————————————*/
.green{

display: none;
}


figure:hover .green{
    
    display: inline-block;


}


figure:nth-child(11):hover .legende {

display: none;
}


/* ————ROND12——————————————————————————*/
.pesquet{

display: none;
}


figure:hover .pesquet{
    
    display: inline-block;


}


figure:nth-child(12):hover .legende {

display: none;
}


/* ————ROND13——————————————————————————*/
.charpak{

display: none;
}


figure:hover .charpak{
    
    display: inline-block;


}


figure:nth-child(13):hover .legende {

display: none;
}


/* ————ROND14——————————————————————————*/
.haignere{

display: none;
}


figure:hover .haignere{
    
    display: inline-block;


}


figure:nth-child(14):hover .legende {

display: none;
}


/* ————ROND15——————————————————————————*/
.caroll{

display: none;
}


figure:hover .caroll{
    
    display: inline-block;


}


figure:nth-child(15):hover .legende {

display: none;
}



/* ————ROND16——————————————————————————*/
.jacquard{

display: none;
}


figure:hover .jacquard{
    
    display: inline-block;


}


figure:nth-child(16):hover .legende {

display: none;
}


/* ————ROND17——————————————————————————*/
.laborit{

display: none;
}


figure:hover .laborit{
    
    display: inline-block;


}


figure:nth-child(17):hover .legende {

display: none;
}


/* ————ROND18——————————————————————————*/
.degenne{

display: none;
}


figure:hover .degenne{
    
    display: inline-block;


}


figure:nth-child(18):hover .legende {

display: none;
}



/* ————ROND19—————————————————————————*/
.brechignac{

display: none;
}


figure:hover .brechignac{
    
    display: inline-block;


}


figure:nth-child(19):hover .legende {

display: none;
}




/* ————ROND20—————————————————————————*/
.ameisen{

display: none;
}


figure:hover .ameisen{
    
    display: inline-block;


}


figure:nth-child(20):hover .legende {

display: none;
}


/* ————ROND21—————————————————————————*/
.pick{

display: none;
}


figure:hover .pick{
    
    display: inline-block;


}


figure:nth-child(21):hover .legende {

display: none;
}




/* ————ROND22—————————————————————————*/
.attenborough{

display: none;
}


figure:hover .attenborough{
    
    display: inline-block;


}


figure:nth-child(22):hover .legende {

display: none;
}






/* ————ROND23—————————————————————————*/
.pelt{

display: none;
}


figure:hover .pelt{
    
    display: inline-block;


}


figure:nth-child(23):hover .legende {

display: none;
}



/* ————ROND24—————————————————————————*/
.hawking{

display: none;
}


figure:hover .hawking{
    
    display: inline-block;


}


figure:nth-child(24):hover .legende {

display: none;
}





/* ————ROND25—————————————————————————*/
.cabrol{

display: none;
}


figure:hover .cabrol{
    
    display: inline-block;


}


figure:nth-child(25):hover .legende {

display: none;
}

/* ————ROND26—————————————————————————*/
.coppens{

display: none;
}


figure:hover .coppens{
    
    display: inline-block;


}


figure:nth-child(26):hover .legende {

display: none;
}



/* ————ROND27—————————————————————————*/
.galfard{

display: none;
}


figure:hover .galfard{
    
    display: inline-block;


}


figure:nth-child(27):hover .legende {

display: none;
}




/* ————ROND28—————————————————————————*/
.dewaal{

display: none;
}


figure:hover .dewaal{
    
    display: inline-block;


}


figure:nth-child(28):hover .legende {

display: none;
}



/*img:hover{
    opacity: 0.5;
}
*/


figure:hover figcaption{
    visibility:visible;
transition: 0.5s;
color: white;



}






.lien{

    text-align: center;
    color: white;
    
}

.lien a{

   
    color: white;
    font-size: 16px;
}

/*@media screen and (min-width: 1300px) {
    img {

       
width: 200px;
height: 200px;

}


    }

*/


@media screen and (min-width: 1900px) {
    img {

       
width: 200px;
height: 200px;

}


    }
    
