*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}
body {
  background: black;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}



.content {
  padding: 125px 50px 50px;
  background: black;
  flex-grow: 1;

 
}
h4 {

 text-align: right;
  color: whitesmoke;
  
  
}
footer {
  background: black;
  padding: 30px;
 padding-left: 90px;
  font-size: 14px;
  color: white;
  font-style: italic;
  
  
}


