@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 12px;
    position: relative;
}


/*************** SWITH *****************/
input[type="checkbox"] {
    position: absolute;
    top: 5px;
    right: 140px;

    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    outline:none;

    width: 60px;
    height: 24px;
    background-color: #000;
    border-radius: 50px;
}
input[type="checkbox"]:checked {
    background-color: #fff;
}
input[type="checkbox"]::after {
    content:'';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 30px;
    height: 20px;
    background-color: #fff;
    border-radius: 50px;
    transition: 0.5s;
}
input[type="checkbox"]:checked::after {
    left: 28px;
    background-color: #000;
}

input[type="checkbox"]:checked + #site {
    background-color: #000;
    color: #fff;
}

input[type="checkbox"]:checked + #site a {
    color: yellowgreen;
}
/*************** SWITH *****************/
/***************/



.orange a:hover{
   color: olive;
    font-style: italic;

}

.orange::before {
   content: '';
    background-color: olive;
    height: 4px;
    opacity: 0;
    display: block;
   transition: width 1s ease-in-out;
   width: 0%;
   overflow: hidden;
}
.orange:hover::before {
    opacity: 1;
    width: 100%;

    overflow: hidden;
    
}

 .orange::after {

    content: "";
    background: olive;
    display: block;
    
    height: 4px;
    
    opacity: 0;
    transition: width 1s ease-in-out;
     width: 0%;
}


.orange:hover::after {

    opacity: 1;
     width: 100%;
   
}

.vert a:hover {
    color: lime;
    font-style: italic;

}

.vert::before {
    content: '';
    background-color: lime;
    height: 3px;
    opacity: 0;
    display: block;
    transition: width 1s ease-in-out;
    width: 0%;
}
.vert:hover::before {
    opacity: 1;
    width: 100%;
}




.vert::after {

    content: "";
    background: lime;
    display: block;
    
    height: 3px;
    
    opacity: 0;
    transition: width 1s ease-in-out;
    width: 0%;
}


.vert:hover::after {

    opacity: 1;
    width: 100%;
   
}

.red a:hover {
    color: red;
    font-style: italic;

}
.red::before {
    content: '';
    background-color: red;
    height: 3px;
    opacity: 0;
    display: block;
    transition: width 1s ease-in-out;
    width: 0%;
}
.red:hover::before {
    opacity: 1;
    width: 100%;
}

.red::after {

    content: "";
    background: red;
    display: block;
    
    height: 3px;
    
    opacity: 0;
    transition: width 1s ease-in-out;
    width: 0%;
}


.red:hover::after {

    opacity: 1;
    width: 100%;
   
}


/*************** SITE *****************/
#site {
    background-color: #fff;
    color: #000;
    min-height: 100vh;
    transition: 0.5s;
}
/*************** SITE *****************/
/***************/
#site {
   
 width: 90%;
    margin: auto;
}

/*************** NAV *****************/
nav {
    padding: 20px;

}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
nav a {
    text-decoration: none;
    margin: 40px;
    text-transform: uppercase;
    font-weight: 700;
    color: #00a;
    font-size: 12px;
    
}
/*************** NAV *****************/
/***************/


/*************** ALIGNEMENT *****************/
table tr td:nth-child(4){
    text-align: center;
}

table tr td:nth-child(5){
    text-align: center;
}
table tr:last-child td:nth-child(2){
     text-align: center;
}

/*************** ALIGNEMENT*****************/
/***************/
table {
    border-collapse: collapse;
}

table tr td{
    border: 1px solid grey;
}


.btnprint {
    display: flex;
    justify-content: center;
   margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
 
   
     body table tr td {
        font-size: 9px;
     }  
       
    
    }

    table {
        width: 90%;
       
    }









}






















