*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: navy;
    height: 100vh;
    min-height: 930px;
    position: relative;
}

h2 {
    
    text-transform:uppercase;
    text-shadow: 0 0 60px rgba(202,228,225,0.8);
    text-align: center;
    margin-top: 20px;


font-family: Mali, sans-serif;
    font-size: 40px;
    font-weight: 300;
    /*color: #f1f1f1e3;*/
    color: orangered;
    text-shadow:
    .1vw 0vw .25vw #7476ff, 
    .15vw 0vw .25vw #7476ff, 


    .1vw 0vw  .1vw #3134ff, 
    .15vw 0vw  .1vw #3134ff, 
    .4vw 0vw  .1vw #3134ff,

    .1vw 0vw   2vw #3134ff, 
    .15vw 0vw   2vw #3134ff, 
    .4vw 0vw   2vw #3134ff, 

    .1vw 0vw   1vw #0408fb, 
    .15vw 0vw   1vw #0408fb, 
    .4vw 0vw   5vw #0408fb, 

    .1vw 0vw   5vw #0408fb, 
    .15vw 0vw  20vw #0408fb, 
    .4vw 0vw  10vw #0408fb,
    
    .1vw 0vw  10vw #0408fb, 
    .15vw 0vw  30vw #0408fb, 
    .4vw 0vw  10vw #0408fb;

    animation: blink 2s infinite alternate;
}


#box {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
    margin: 30px auto;
}



.avertissement {
    text-align: center;
}

.avertissement img {
    width: 150px;
    height: 90px;
    border-radius: 10px;
     filter: 
    drop-shadow(0 0.15vw 0.30vw #fffb0e)
    drop-shadow(0 0.15vw 0.30vw #8a8942);
    animation: saxo-blink 2s infinite alternate;  
    
}

@keyframes blink {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0   0.5vw #7476ff,
        0.1vw 0 0.5vw #7476ff,
        0.3vw 0 0.5vw #7476ff,
    
        0 0 1.2vw #3134ff,
        0.1vw 0 1.2vw #3134ff,
        0.3vw 0 1.2vw #3134ff,
    
    
        0 0 3vw #0408fb,
        0.1vw 0 3vw #0408fb,
        0.3vw 0 3vw #0408fb;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }
  
.card {
    width: 330px;
    height: 80px;
    /*position: absolute;*/
    /*top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    padding: 40px 50px 50px;
    box-shadow:
    0 0 10vw  0vw #7476ff,   
    0 0   2vw  0.4vw #0408fb,
    
    inset 0 0 .5vw  .2vw #7476ff,
    inset 0 0 0.2vw  0.2vw #3134ff,
    inset 0 0 .25vw  0.2vw #0408fb;
    border-radius: 10px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 a{
    text-decoration: none;
    color: aqua;
}
.card h1 {
    text-align: center;
    font-family: Mali, sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #f1f1f1e3;
    text-shadow:
    .1vw 0vw .25vw #7476ff, 
    .15vw 0vw .25vw #7476ff, 


    .1vw 0vw  .1vw #3134ff, 
    .15vw 0vw  .1vw #3134ff, 
    .4vw 0vw  .1vw #3134ff,

    .1vw 0vw   2vw #3134ff, 
    .15vw 0vw   2vw #3134ff, 
    .4vw 0vw   2vw #3134ff, 

    .1vw 0vw   1vw #0408fb, 
    .15vw 0vw   1vw #0408fb, 
    .4vw 0vw   5vw #0408fb, 

    .1vw 0vw   5vw #0408fb, 
    .15vw 0vw  20vw #0408fb, 
    .4vw 0vw  10vw #0408fb,
    
    .1vw 0vw  10vw #0408fb, 
    .15vw 0vw  30vw #0408fb, 
    .4vw 0vw  10vw #0408fb;

    /*animation: blink 2s infinite alternate;*/
}


.card span {
    font-family: Raleway, sans-serif;
    padding-left: 10px;
    font-size: 20px;
    letter-spacing: 3px;
    color: #f1f1f1cb;
    text-shadow:
    .1vw 0vw .25vw #ff7474, 
    .125vw 0vw .25vw #ff7474, 

    .1vw 0vw  .1vw #ff3131, 
    .125vw 0vw  .1vw #ff3131, 
    .15vw 0vw  .1vw #ff3131,

    .1vw 0vw   2vw #ff3131, 
    .125vw 0vw   2vw #ff3131, 
    .15vw 0vw   2vw #ff3131, 

    .1vw 0vw   1vw #fb0404, 
    .125vw 0vw   1vw #fb0404, 
    .15vw 0vw   5vw #fb0404, 

    .1vw 0vw   5vw #fb0404, 
    .125vw 0vw  20vw #fb0404, 
    .15vw 0vw  10vw #fb0404;

}


.lien {
    text-align: center;
    padding-top: 20px;
      /*padding-top: 30px;*/
}
.lien a {
     color: grey;
     font-size: 30px;
     text-decoration: none;


}
 .wrapper {
        margin: 20px auto;
        text-align: center;
        width: 100%;
        position: relative;
      }
 .button {
        padding: 10px 60px;
        margin: 5px 4px;
        color: #eee;
        font-family: sans-serif;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        text-decoration: none;
        display: inline-block;
        border: 1px solid;

      }


      .button a {
        color: whitesmoke;
        text-decoration: none;
      }
      .button::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        z-index: -1;
        -webkit-transform: scaleY(0.1);
        transform: scaleY(0.1);
        transition: all 0.4s;
      }
      .button:hover {
        /*color: #b414ba;*/
        color: red;
      }
      .button:hover::before {
        opacity: 1;
        background-color:blue;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        transition: -webkit-transform 0.6s cubic-bezier(0.08, 0.35, 0.13, 1.02), opacity 0.4s;
        transition: transform 0.6s cubic-bezier(0.08, 0.35, 0.13, 1.02), opacity;
      }

@keyframes blink {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0   0.5vw #7476ff,
        0.1vw 0 0.5vw #7476ff,
        0.3vw 0 0.5vw #7476ff,
    
        0 0 1.2vw #3134ff,
        0.1vw 0 1.2vw #3134ff,
        0.3vw 0 1.2vw #3134ff,
    
    
        0 0 3vw #0408fb,
        0.1vw 0 3vw #0408fb,
        0.3vw 0 3vw #0408fb;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }
  
  @keyframes saxo-blink {
    0%, 9%, 15%, 79%, 83%, 100%{
  
        filter: 
        drop-shadow(0 0.15vw 0.30vw #fffb0e)
        drop-shadow(0 0.15vw 0.30vw #8a8942);
    
    }
    
    10%, 14%, 80%, 82% {        
        
        filter: none;
    }  
  }