p {
	font-size:1.2em;
	color: blue;
    background-color: #98da8d;
    text-align:center;
   }
   
img {
display:block;
text-align:center;
width:80%;
margin-left: auto;
margin-right: auto ;

}

.memo {
width:11%;
height:auto;
display: block;
margin-left: auto;
margin-right: auto 

}


a {
display:block;
text-align:center;
font-size:1em;
}

@media all and (min-width: 1400px)
{

    body
       {
        
           background-color: #feffcc;
        
        
        }      
   

p {
	font-size:2em;
	color:red;
}

a {
font-size:1.2em;
color:red;

}




}