@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


/******************* NAV ********/
nav {
    position: fixed;
    width: 100%;
    top: 45px;
    height: 80px; 
    z-index: 10;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav.fixe {
    top: 0;
    background-image: linear-gradient(90deg, #283e7a, #268cca);
}

#logo {
    display: flex;
    align-items: center;
}
#logo .fa-battle-net {
    font-size: 55px;
    color: #ffaf14;
    transition: 0.5s;
}
#logo .fa-battle-net:hover {
    color: #f3fcff;
    transform: scale(1.1);
    transition: 0.5s;
}
#logo strong {
    margin: 0px 16px;
    font-size: 21px;
    color: #fff;
}
#logo strong span {
    font-size: 25px;   
    font-weight: bolder;
}
#logo small {
    color: #e2dddd;
    display: block;
    font-size: 14px;
}

#menu ul {
    display: flex;
    list-style: none;
}
#menu ul li {
    padding-right: 20px;
    text-align: center;    
}
#menu ul li a {
    color: #f3fcff;
    text-decoration: none;
    font-size: 21px;
    font-weight: bold;
    transition: 0.5s;
}
#menu ul li a:hover, #menu ul li a.active {
    color: #ffaf14;
    transition: 0.5s;
}
#menu ul li a span {
    font-size: 15px;
    display: block;
}

#burger {    
    display: none; 
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 10px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 50%;
    transition: 0.5s;
}
#burger:hover {
    transition: 0.5s;
    transform: scale(1.15);
}
#burger span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #224e8b;
    margin: 4px 0;
    position: relative;
    transition: 0.5s;
}
#burger:hover span {
    background-color: #333;
    transition: 0.5s;
}
#burger.active span:nth-child(1) {
    transform: rotate(45deg);
    top: 8px;
    background-color: #cf0245;
}
#burger.active span:nth-child(2) {
    opacity: 0;
}
#burger.active span:nth-child(3) {
    transform: rotate(-45deg);
    top: -8px;
    background-color: #cf0245;
}

.accesApprenant {
    background-color: #ffaf14;
    padding: 5px 12px;
    display: inline-block;
    border-radius: 40px;
}
.accesApprenant:hover {
    background-color: #fff;
}
.accesApprenant strong {
    display: block;
}
/******************* NAV ********/
/***************************/


/******************* HEADER ********/
header {
    background-image: url(../images/header.jpg);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    background-size: cover;
    height: 530px;
}
/******************* HEADER ********/
/***************************/


/******************* SECTION-HEADER ********/
#section-header {
    position: relative;
    top: 150px;

    width: 85%;
    margin: auto;

    display: flex;
    justify-content: space-between;
    font-family: arial;
}

#section-header h2 {
    color: #fff;
    font-size: 25px;
}
#section-header p {
    color: #fff;
    font-size: 19px;
    letter-spacing: 1px;
}

#section-header-G .responsive {
    text-align: center;
}

#box-news {
    width: 320px;
    background-color: #f3f3f3;
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 50px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 5px #283874;
}
#box-news .publie {    
    color: #333;
    font-size: 13px;
    margin: 4px;
}
#box-news h1 {
    font-size: 18px;
    text-transform: uppercase;
}
#box-news img {
    width: 90%;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #aaa;
}
#box-news .resume {    
    color: #111;
    font-size: 16px;
    text-align: justify;
}
#box-news button {
    background-color: #ffaf14;
    padding: 12px 45px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 5px;
}
#box-news button:hover {
    background-color: #ff5714;
}
#box-news button a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
}
/******************* SECTION-HEADER ********/
/***************************/


/******************* SECTION-1 ********/
#section1 {
    width: 80%;
    margin: auto;
    margin-top: 150px;

    display: flex;
    align-items: center;
}

#section1-G i {
    font-size: 590px;
    margin-right: 35px;
    color: rgba(38,134,196,0.5);
}

#section1-D h2 {
    margin-top: 55px;
    font-size: 25px;
}
#section1-D h2 span {
    font-size: 15px;
}
#section1-D i {
    color: #ff5714;
}
#section1-D a {
    color: #f3f3f3;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    background-color: #333;
    border-radius: 50px;
    padding: 5px 25px;
    margin: 7px;
    display: inline-block;
    transition: 0.5s;
}
#section1-D a:hover {
    background-color: #ff5714;
    transition: 0.5s;
}
/******************* SECTION-1 ********/
/***************************/


/******************* SECTION-2 ********/
#section2 {
    margin-top: 45px;
    display: flex;
    width: 100%;
}
#section2-G, #section2-D {
    width: 50%;
    padding: 42px;
    text-align: center;
}
#section2-G {
    background-color: #000;
}
#section2-G h4 {
    color: #ffaf14;
    font-size: 35px;
    margin: 0;
}
#section2-G h4 span {
    color: #ccc;
    font-size: 16px;
    display: block;
}
#section2-D {
    background-color: #ffaf14;
}
#section2-D h4 {
    margin: 0;
}
#section2-D h4 a {
    color: #000;
    font-size: 40px;
    margin: 0 20px;
    transition: 0.5s;
}
#section2-D h4 a:hover {
    color: #ff5714;
}
/******************* SECTION-2 ********/
/***************************/


/******************* SECTION-3 ********/
#section3 {
    width: 80%;
    margin: auto;
    margin-top: 90px;
    font-family: sans-serif;
}
#section3 h3 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}
#section3 div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#section3 div article {
    width: 380px;
    margin: 15px;
}
#section3 div article img {
    width: 100%;
}
#section3 div article img:hover {
    opacity: 0.5;
}
#section3 div article h5 {
    margin: 0;
    padding: 0;
}
#section3 div article p {
    margin: 5px 0;
    padding: 0;
    color: #999;
    font-size: 13px;
}
#section3 div article a {
    color: #999;
    font-size: 13px;
    text-decoration: none;
}
#section3 div article a:hover {
    text-decoration: underline;
}
#section3 div article h5 a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    font-weight: bold;
}
#section3 div article h5 a:hover {
    text-decoration: underline;
    color: #333;
}
/******************* SECTION-3 ********/
/***************************/


/******************* SECTION-4 ********/
/***************************/
#section4 {
    width: 100%;
    margin: auto;
    margin-top: 90px;
    font-family: sans-serif;
    background-color: #f2f2f2;
    padding: 15px 0;
    text-align: center;
}
#section4 h3 {   
    font-size: 32px;
    font-weight: bold;
}
#section4 p {
    font-size: 17px;
}
#section4 a {
    color: #f3f3f3;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    background-color: #333;
    border-radius: 50px;
    padding: 5px 25px;
    margin: 7px;
    display: inline-block;
    transition: 0.5s;
}
#section4 a:hover {
    background-color: #ff5714;
    transition: 0.5s;
}
/******************* SECTION-4 ********/



/******************* FOOTER ********/
footer {
    background-color: #272a30;
    color: #929494;
    font-size: 18px;
    font-weight: bold;
    padding: 25px 0;
    text-align: center;
}
footer a {
    color:#ffaf14;
    text-decoration: none;
    letter-spacing: 1px;
    transition: 0.5s;
}
footer a:hover {
    color:#ff5714;
    transition: 0.5s;
}
footer i {
    margin: 5px;
    font-size: 18px;
}
/******************* FOOTER ********/
/***************************/


/******************* COOKIES ********/
#cookiesAccept {
    background-color: yellow;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 16px;
    text-align: center;
}
#cookiesAccept.active {
    display: none;
}
#cookiesAccept a, #filArianne a {
    color: blue;
}
#cookiesAccept button {
    padding: 5px 16px;
    margin-left: 15px;
    background: none;
    outline: none;
    border: 1px solid olive;
    color: olive;
    font-size: 18px;
    border-radius: 50px;
    cursor: pointer;
}
#cookiesAccept button:hover {
    background: olive;
    color: white;
}
/******************* COOKIES ********/
/***************************/


/******************* SCROLLTOP ********/
.top {
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 10px;
	right: 10px;
	background-color: rgba(255,87,20,0.5);
	font-size: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	border-radius: 10px;
	transition: 0.8s;
	opacity: 0;
    z-index: 1001;
}
.top:hover {
    background-color: rgba(255,87,20,1);
}
.top a {
	color: #fff;
	text-decoration: none;
}
.top.voirBt {
	visibility: visible;
	opacity: 1;
}
/******************* SCROLLTOP ********/
/***************************/




/************************************************************************/
/************************************************************************/




/******************* ARTICLE ********/
#header {
    background-image: linear-gradient(90deg, #283e7a, #268cca);
    height: 150px;
}
.filAriane {
    width: 85%;
    margin: 10px auto;
    font-size: 17px;
    border-bottom: 1px dashed #ccc;
}
.filAriane a {
    font-size: 21px;
    color: #cf0245;
    margin-right: 7px;
}
.filAriane a:hover {
    color: #ff5714;
}
#article {
    width: 85%;
    margin: 50px auto;

    background-color: #f3f3f3;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 5px #283874;
}
/******************* ARTICLE ********/
/***************************/



#section5 {
    width: 100%;

    display: flex;
}
#section5 .texte {
    font-size: 21px;
}
#section5 .separateur {
    border: 1px dashed #ccc;
}
#section5-G {
    width: 65%;
}
#section5-G button {
    background-color: #ffaf14;
    padding: 10px 45px;
    border: none;
    border-radius: 50px;
}
#section5-G button i {
    color: #ff5714;
    font-size: 21px;
    margin-right: 15px;
}
#section5-G button a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    transition: 0.5s;
}
#section5-G button:hover a {
    color: #000;
    transition: 0.5s;
}
#section5-G .centrer {
    text-align: center;
}
#section5-G img {
    max-width: 650px;
    width: 100%;
}
#section5-D {
    width: 35%;
    display: flex;
    justify-content: flex-end;
}
#section5-D div {
    background-color: #f3f3f3;
    padding: 7px;
    border-left: 1px dashed #ccc;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
#section5-D div a {
    font-size: 18px;
    text-decoration: none;
    color: #ff5714;
    transition: 0.5s;
}
#section5-D div a:hover {
    text-decoration: underline;
    color: #000;
    transition: 0.5s;
}
#section5-D h4 i {
    margin-right: 5px;
    font-size: 19px;
}

/******************* FORMULAIRE ********/
#section5-G h1 {
    text-align: center;
    font-size: 22px;
}

#section5-box {
    width: 80%;
    background-color: #ffaf14;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 19px;
    border-bottom: 1px solid #000;
}
#section5-box div {
    background-color: #000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 12px;
    text-align: center;
}
#section5-box div h3 {
    color: #ffaf14;
    margin: 0;
    font-size: 20px;
}
#section5-box img {
    width: 100px;
    border-radius: 50%;
    margin: 10px;
    float: right;
}


.champ {
    border: 1px solid #626060;
    margin: 10px 0;
    padding: 15px;
    border-radius: 7px;
    background-color: #dbdde1;
    position: relative;
}
.champ label {
    display: block;
    text-align: left;
    color: #626060;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}
.champ input, .champ textarea {
    border: none;
    background: none;
    width: 100%;
    outline: none;
    font-size: 16px;
    margin: 5px 0 0 0;
	
	padding:0;
    transition: 0.5s;
}
.champ:hover, .champ:hover {
    background-color: #fff;
    transition: 0.5s;
    border-color:limegreen;
}
.champ textarea {
	overflow: auto;
	width: 100%;
	height: 100px;
}
::placeholder {
    color: #aaa;
}
input[type="submit"] {
    padding: 15px;
    width: 100%;
    background-color: #626060;
    color: white;
    border: none;
    margin: 10px;
    cursor: pointer;
    font-size: 19px;
    letter-spacing: 2px;
	border-radius: 50px;	
}
input[type="submit"]:hover {
	background-color: #333;
}

.red {
    color: #a00;
    font-size: 19px;
    text-align: center;
}
.green {
    color: #0a0;
    font-size: 19px;
    text-align: center;
}
/******************* FORMULAIRE ********/
/***************************/


/******************* TUTOS LISTE ********/
#tutoCat {
    border-bottom: 1px dashed #ccc;
}
#tutoCat ul { 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#tutoCat ul li {
    list-style: none;
}
#tutoCat ul li a {
    display: inline-block;
    padding: 5px 17px;
    margin: 6px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: 0.5s;
}
#tutoCat ul li a:hover {
    background-color: #555;
    transition: 0.5s;
}
#tutoCat ul li a.actif {
    background-color: #ff5714;
    transition: 0.5s;
}

#tutoSubCat {
    border-bottom: 1px dashed #333;
}
#tutoSubCat ul { 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#tutoSubCat ul li {
    list-style: none;
}
#tutoSubCat ul li a {
    display: inline-block;
    padding: 5px 17px;
    margin: 6px;
    background-color: rgba(255,87,20,0.4);
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: 0.5s;
}
#tutoSubCat ul li a:hover {
    background-color: #ffaf14;
    transition: 0.5s;
}
#tutoSubCat ul li a.actif {
    background-color:rgba(255,87,20,1);
    transition: 0.5s;
}
#tutoListe {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tutoriel {
    width: 380px;
    margin: 22px 12px;
    justify-content: center;
    /* width: 100%; */
}
.tutorielImg {
    width: 100%;
}
.tutorielImg:hover {
    opacity: 0.5;
}

.tutoriel p {
    margin: 5px 0;
    padding: 0;
    color: #111;
    font-size: 14px;
    font-weight: bold;
}
.tutoriel a {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.tutoriel a:hover {
    text-decoration: underline;
}

.tutoriel h4 {
    margin: 0;
}
.tutoriel h4 a {
    text-decoration: none;
    color: #000;
    font-size: 17px;
    font-weight: bold;
}
.tutoriel h4 a:hover {
    text-decoration: underline;
    color: #333;
}
/******************* TUTOS LISTE ********/
/***************************/




@media screen and (max-width: 1100px) { 
    /* #menu ul li:first-child {
        display: none;
    } */

    .responsive img {
        width: 300px;
    }

    #section1 {
        align-items: flex-start;
    }
}



@media screen and (max-width: 950px) {     
    #box-news .resume, #box-news h1, .hidden {
        display: none;
    }
    #menu {
        top: -100%;
        width: 100%;
        background-color: #21518f;
        text-align: center;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.4s;
        opacity: 0;
    }
    #menu.active {
        top: 0;
        height: 100vh;
        
        opacity: 1;
    }
    #menu ul {
        flex-direction: column;        
    }
    #menu ul li {
        margin-top: 15px;
        padding: 10px 25px;
        background-color: #2789c8;
        border-radius: 7px;
    }
    /* #menu ul li:last-child {
        background-color: #ffaf14;
    } */
    
    #burger {
        display: block;
    }

    #section-header {
        flex-direction: column;
        align-items: center;
    }

    #section-header h2 {
        font-size: 19px;
    }
    #section-header p {
        font-size: 14px;
    }

    #section-header-G .responsive {
        display: none;
    }

    #section1-D h2 span {
        display: block;
    }

    #section1-D a {
        margin: 15px;
    }

    #section1 {
        flex-direction: column;
    }
    
    #section1-G i {
        display: none;
    }

    #section2 {
        flex-direction: column;
    }

    #section2-G, #section2-D {
        width: 100%;
        box-sizing: border-box;
    }

    #section5 {
        flex-direction: column;
    }
    #section5-G {
        width: 100%;
        order: 2;
    }
    #section5-D {
        width: 100%;
        order: 1;
    }
    #section5-box {
        width: 100%;
    }

    #section5-D div {
        display: none;
    }

}