
body {
  margin:0px;
  padding:0px;
  background-color: #feffec;
}

.reponse {

padding-top: 0px;
margin-top: 10px;
	font-size: 2em;
	color:navy;
	text-align: center;
}

.soustitre {
	text-align: center;
}




.image {
	
	text-align: center;


}

.explication {
	text-align: center;
}

.exemple {
	text-align: center;
	 font-style: italic;
}

a {
	color:red;
}


.retour {

	font-size: 1em;
  text-align: center;

}