.titre {
color:blue;
font-size: 1.3em;

  background-color: #98da8d;
}



@media all and (min-width: 1400px)
{
  body
    {
        
        background-color: #FFFFE0;
        
        
     }
img {
margin-top: 20px;
transform:scale(1.1);
}

p {
	font-size:1.5em;
}
table {
width:60%;
font-size:1.5em;
}

a {
font-size:1.5em;}



}
