


*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body
{
	
	padding: 0;
    margin: 0;
    background:url(images/maquette2023.jpeg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;

    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 100vh;
}


.box1  p a{
	text-decoration: none;
	color:black
	}

.box2 p a {
	text-decoration: none;
	color:black
	}

	.box3  p a{
	text-decoration: none;
	color:black
	}
	.colonne2 {
		
	text-decoration: none;
	color:black
	}
	.lexiquepage {
		text-transform: uppercase;
	text-decoration: none;
	color: rgb(229, 38, 57);
	
	
	}

	.logicielsitem {
		text-transform: uppercase;
		text-decoration: none;
		color:rgb(17, 164, 164);
	}
header {
	
   height:5vh;
   display:flex;
   justify-content: center;
   align-items: center;
  
}

header h2 {
   
   color:purple;
  
   text-transform: uppercase;
    text-shadow: 0 0 10px #f3f3f3;
}
#box {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	height:85vh;
	grid-template-areas:
		"box1 box1 box1 box1"
		"box2 box2 box2 box1"
		"box3 box3 box3 box3"
		"box4 box4 box4 box4";
		
}
.box1 h3 {
	
	color:rgb(221, 109, 64);
	text-transform: uppercase;

}



.box1 {
	
	height: 85vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	
}
.menutitre1 {
	width:60%;
	text-align: center;
}
.gourmandises {
	width:80%;
	text-align: center;
}

.tasse {
    
    width: 160px;
}

.box2{
	
	height: 85vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center  ;
	
	
}
.box2 h3 {
	
	color:#04BCA1;
	text-transform: uppercase;
}
.viennoiseries{
	
    width: 180px;
}
.box3 {
	
	max-height: 85vh;
	display: flex;
	flex-direction: column;
	justify-content:space-evenly;
	align-items: center;
	
}


.box3 h3 {
	
	color:#04BCA1;
	text-transform: uppercase;
}
.box4 {
	
	height: 85vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.grains {
    position: absolute;
    right: 0px;
    top: 0px;
    width:130px;
    

}

.lexiquetitre {
    width:200px;
 

}
.logicieltitre {
    width:130px;
    
}


.copyright {
	
	display:flex;
	justify-content: center;
	align-items: center;
	height: 5vh;
	color: yellow;
	bottom: 5vh;
	position: fixed;
	
	width: 100%;
}

.retourresto {
	color:purple;
	margin-left: 100px;
	font-style: italic;
}
.compteur {
	
	padding-left: 60px;
	
	
}
.avertissement {
    font-style: italic;
    text-align: center;
    font-size: 12px;
    color:purple;
}
footer{
	display:flex;
	justify-content: space-around;
	align-items: center;
	
	height:5vh;
	bottom: 0;
	position: fixed;
	width: 100%;
	
}

 .chiffresanimes {
    width: 30px;
    height: 30px;
}

.cache {
	display: none;
}

/*______RESPONSIVE_____________________________________*/


@media screen AND (max-width: 800px)  {
#box {
	
	grid-template-columns: 1fr;
	grid-template-areas:
		"box1"
		"box2"
		"box3"
		"box4";
}
header {
	justify-content: start;
}
header h2 {
	font-size: 12px;
	
}
.box3 p {

	padding: 10px;
}
.avertissement {
	display: none;
}


footer {
	display: none;
}

.copyright {
	
	display: none;
	
}
.cache {
display:block;
display:flex;
	justify-content: space-between;
	align-items: center;
	height: 5vh;
	color: red;
	bottom: 5vh;
	position: fixed;
	bottom: 0;
	
	width: 100%;
}
.retourresto {
	
	margin-right: 10px;
	font-style: italic;
}

}